<h4>Shopping List</h4>

<div class="input-field">
  <i class="material-icons prefix">add_shopping_cart</i>
  <input type="text"
         class="form-control"
         #input
         placeholder="Add an item..."
         (keydown.enter)="addEntry(input)">
</div>

<div *ngIf="shoppingListEntries$ | async as shoppingListEntries">
  <app-shopping-list-entry *ngFor="let entry of shoppingListEntries"
                           class="collection-item"
                           [entry]="entry"
                           (increment)="increment($event)"
                           (decrement)="decrement($event)"></app-shopping-list-entry>
</div>
